a
{

color:red;    
text-decoration: none;
}

#karpov
{
    border: solid 1px red;
    
}

#karpov p {
    border: solid 1px blue;
}

#botvinik a:hover {
    text-decoration: line-through;
    font-weight: bold;
    
}

#kasparov p:nth-child(odd) {
    background-color: gray;
    color:black;
    
    
   
}

#kasparov p:nth-child(even) {
    background-color: black;
    color:gray;
    
    
   
}

p:first-letter, h1:first-letter {
    color:green;
    font-size: 2em
    
}